@import url('https://cdn.jsdelivr.net/gh/toss/tossface/dist/tossface.css');

* {
    padding: 0;
    margin: 0;
    font-family: 'Toss Product Sans', TossFace;
    list-style: none;
    color: var(--G1000);
    box-sizing: border-box;
    text-overflow: ellipsis;
    word-wrap: break-word;
    word-break: break-all;
}
html, body {
    margin: 0;
    padding: 0;
    background: var(--P300);
    height: 100%;
}
#app {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.page {
    border-radius: 16px;
    background: var(--G0);
    margin: auto;
}