/* color code */

:root {
    --G0: #ffffff;
    --G50: #fafafa;
    --G100: #f4f4f5;
    --G200: #e4e4e7;
    --G300: #d4d4d8;
    --G400: #a1a1aa;
    --G500: #71717a;
    --G600: #525252;
    --G700: #3f3f3f;
    --G800: #272727;
    --G900: #202020;
    --G1000: #181818;
}

:root.dark {
    --G0: #181818;
    --G50: #202020;
    --G100: #272727;
    --G200: #3f3f3f;
    --G300: #525252;
    --G400: #71717a;
    --G500: #a1a1aa;
    --G600: #d4d4d8;
    --G700: #e4e4e7;
    --G800: #f4f4f5;
    --G900: #fafafa;
    --G1000: #ffffff;
}

:root {
    --P100: #FFD0D9;
    --P200: #FFC2CE;
    --P300: #FFAFBE;
    --P400: #FF9FB1;
    --P500: #FD90A5;
}