@import url('https://cdn.jsdelivr.net/gh/toss/tossface/dist/tossface.css');

* {
    padding: 0;
    margin: 0;
    font-family: 'Toss Product Sans', TossFace;
    font-size: 16px;
    list-style: none;
    color: var(--G1000);
    box-sizing: border-box;
    text-overflow: ellipsis;
    word-wrap: break-word;
    word-break: break-all;
}
html, body {
    margin: 0;
    padding: 0;
    background: var(--P300);
    height: 100%;
}
::-webkit-scrollbar {
    width: 0px;
    height: 0;
}
a {
    text-decoration: none;
    color: unset;
}
textarea {
    background: inherit;
    border: none;
    resize: none;
}
input {
    border: none;
    width: 100%;
    background: transparent;
}
::placeholder {
    color: var(--G300);
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-text-fill-color: var(--G1000);
    -webkit-box-shadow: 0 0 0px 1000px var(--G50) inset;
    box-shadow: 0 0 0px 1000px var(--G50) inset;
    transition: background-color 5000s ease-in-out 0s;
}
input:autofill,
input:autofill:hover,
input:autofill:focus,
input:autofill:active {
	-webkit-text-fill-color: var(--G1000);
    -webkit-box-shadow: 0 0 0px 1000px var(--G0) inset;
    box-shadow: 0 0 0px 1000px var(--G0) inset;
    transition: background-color 5000s ease-in-out 0s;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
::-webkit-scrollbar-track {
    display: none;
}
::-webkit-scrollbar-thumb {
    background: var(--G50);
    border-radius: 5px;
}
:focus {
    outline: 0;
}

#app {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.page {
    border-radius: 16px;
    background: var(--G0);
    margin: auto;
}